In [1]:
for x in range(0, 10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:
names = ['hassan','mohamed','abd','elglil','hessien']
names

['hassan', 'mohamed', 'abd', 'elglil', 'hessien']

In [3]:
for name in names:
    print(name)

hassan
mohamed
abd
elglil
hessien

In [4]:
for x in [1,10,100]:
    print(x)

1
10
100

In [5]:
fuclites = ['FC','FS','FE','FM']
data = [names,fuclites]

In [6]:
data

[['hassan', 'mohamed', 'abd', 'elglil', 'hessien'], ['FC', 'FS', 'FE', 'FM']]

In [18]:
for x in range(0, len(data)):
    for y in range(0,len(data[x])) :
        print(data[x][y])
    print('\n')

hassan
mohamed
abd
elglil
hessien


FC
FS
FE
FM

In [42]:
for row in range(1, 11):
    for column in range(1, 11):
        num = row*column
        if num < 10:
            print(end=" ")
        print(num, end=" ")
    print(end="\n")

 1  2  3  4  5  6  7  8  9 10
 2  4  6  8 10 12 14 16 18 20
 3  6  9 12 15 18 21 24 27 30
 4  8 12 16 20 24 28 32 36 40
 5 10 15 20 25 30 35 40 45 50
 6 12 18 24 30 36 42 48 54 60
 7 14 21 28 35 42 49 56 63 70
 8 16 24 32 40 48 56 64 72 80
 9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100